<footer id="footer">
    <form method="post" action="/">
        <h5>Review Your Order</h5>
        <div class="form-group">
            <label for="standings" style="display: none;">Standings</label>
            <input class="form-control" type="number" name="orderNumber" placeholder="Order ID">
        </div>
        <div class="form-group">
            <button type="submit" name="button" class="btn btn-success ">View Order</button>
        </div>
    </form>
    <section>
        <p>
            <script language="JavaScript">
                function y2k(number) {
                    return (number < 1000) ? number + 1900 : number;
                }
                var today = new Date();
                var year = y2k(today.getYear());
                document.write('© ' + year + ' Robbert Van der Grift - All Rights Reserved');
            </script>
        </p>
    </section>
</footer>
<script src="/javascript/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>