<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/main.css" />
  <title>DevTest</title>
</head>

<body>
  <%if(orderID ==! null){%>
  <div class="alert alert-success" role="alert">
    Your Order succesfully your order ID is: <%= orderID.id %>
  </div>
  <%}%>
    <header>
      <a href="/" class=logo>
        <h1>GoIntegration</h1>
        <h3>Dev_Test</h3>
      </a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#products">Products</a></li>
          <li><a href="#footer">My Order</a></li>
        </ul>
      </nav>
    </header>