<% include shared/header %>
<main>
    <section class="slide1">
        <article class="cta-1">
            <h2>Try Our Brand New Razors</h2>
            <h5>the last razor you'll ever own</h5>
            <a href="#products" class="btn btn-primary btn-lg"> View Razors </a>
        </article>
        <article class="cta-2 hidden">
            <h2>Another Message About Our Products</h2>
            <h5>This is some more text describing how good our products are</h5>
            <a href="#products" class="btn btn-primary btn-lg"> View Products </a>
        </article>
        <article class="cta-3 hidden">
            <h2>Want To Save Money?</h2>
            <h5>Join our mailing list to get promotions and discounts</h5>
            <a href="#" class="btn btn-primary btn-lg"> Get Discounts </a>
        </article>
        <div class="controls">
            <a id="cta-1" href="#" class="active"><i class="fas fa-minus"></i></a>
            <a id="cta-2" href="#"><i class="fas fa-minus"></i></a>
            <a id="cta-3" href="#"><i class="fas fa-minus"></i></a>
        </div>
    </section>
    <section id="products" class="products">
        <h2>Our Products</h2>
        <% for(let i = 0; i < products.length; i++){%>
        <article class="<%products[i].title%>">
            <img src="<%=products[i].image.src%>" alt="<%=products[i].title%>">
            <div class="desc">
                <h4><%=products[i].vendor%></h4>
                <h5><%=products[i].title%></h5>
                <p><%=products[i].body_html%></p>
                <h6>Price: <span>$<%= products[i].variants[0].price%></span>
                    <em>Sale! </em>$<%= products[i].variants[0].price * 0.75 %> <small>+ tax</small></h6>
                <a href="/order/<%=products[i]._id%>" class="btn btn-primary btn-md"
                    onclick="return  confirm('are you sure you want to order <%= products[i].title %>')">Order Now</a>
            </div>
        </article>
        <%}%>
    </section>
</main>
<% include shared/footer %>