<% include shared/header %>
<main class="order">
    <div class="jumbotron">
        <h1 class="display-4"><%= order.line_items[0].title%></h1>
        <p class="lead">Your Total Price: $<%= order.total_price%></p>
        <hr class="my-4">
        <p>If you would like to cancel your order you do it here</p>
        <a class="btn btn-danger btn-lg" href="order/delete/<%=orderID%>"
            onclick="return  confirm('are you sure you want to delete your order')" role="button">Cancel order</a>
    </div>
</main>
<% include shared/footer %>