html {
    scroll-behavior: smooth;
  }
/* Body Styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
/* ========================================================= */
/* Header and navigation styles */
body header {
    position: fixed;
    top: 0;
	display: flex;
    width: 100vw;
    height: 5rem;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(0,0,0,0.5)
}
header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    margin-left: 1rem;
}
header .logo:hover {
    text-decoration: none;
    color: #fff;
}
header a h1 {
    font-size: 2rem;
    margin: 0;
}
header a h3 {
    font-size: 1rem;
}
body header nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body header nav ul{
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
body header nav ul li {
    padding: 0 1rem 0 1rem;
}
body header nav ul li a {
    color: #fff;
}
body header nav ul li a:hover {
    color:#fff;
    text-decoration: underline;
}
header nav a:first-of-type img {
	height: 4.5rem;
}
.order {
    min-width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ================================================================ */
/* slider styles */
main section:first-of-type {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    /* position: sticky;
	z-index: -100;
	top: 0; */
}
main section:first-of-type article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 3rem;
    width: 70vw;
    border-radius: 1rem;
}
main section:first-of-type article.hidden {
    display: none;
}
main section:first-of-type article h2 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 0;
}
main section:first-of-type article h5 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 2rem;
}
.slide1 {
	background-image: url('/images/image-1.jpeg');
	transition: 1s;
}
.slide2 {
	background-image: url('/images/image-2.jpeg');
	transition: 1s;
}
.slide3 {
	background-image: url('/images/image-3.jpeg');
	transition: 1s;
}
.controls {
    align-self: center;
    transform: translateY(12rem);
}
.controls a {
    margin: 0.5rem;
	font-size: 2rem;
	color: #f9ede4;
	opacity: 0.5;
}
.controls a.active {
    opacity: 1.0;
}
/* ================================================================ */
/* product styles */
main section:nth-of-type(2){
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 4rem 0;
}
main section:nth-of-type(2) h2 {
    text-decoration: underline;
}
main section:nth-of-type(2) article{
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-bottom: 1px solid black;
   width: 75vw;
}
main section:nth-of-type(2) article:last-of-type{
    border: none;
 }
 main section:nth-of-type(2) article div h6 span {
    color: rgb(80, 80, 80);
    text-decoration: line-through;
 }
img{
    height: 500px;
    width: 500px;
}
/* ================================================================ */
/* footer styles */
footer {
    background-color: #017bff;
    width: 100vw;
    height: 15rem;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer form {
    margin-top: 2rem;
}
footer form h5 {
    color: #fff;
    margin-bottom: 1rem;
}
footer section:last-of-type{
    background-color: #282828;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer section:last-of-type p{
    color: #fff;
    margin-top: 1rem;
}
/* ================================================================ */
